
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a0c;
    color: #e8e4dc;
    font-family: sans-serif;
}

.header {
    max-width: 700px;
    margin: 0 auto;
    padding: 160px 40px;

}

.titulo {
    color: #e8e4dc;
    letter-spacing: 2px;
    font-weight: 600;
    
}

h1 {
    font-size: 70px;
    color: white;
    margin-bottom: 6px;
}

em {
    color: #1a3a6b;
}

.subtitulo {
    font-size: 18px;
    color: #888;
    margin-bottom: 25px;
    letter-spacing: 1.5px;
}

.musicas {
    display:flex;
    flex-direction: row;
    gap: 15px;
}

input {
    border: 2px solid #4d4d4d;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    background: #1a1a1c;
    color: #e8e4dc;
}

.label {
    color: #888;
    font-size: 11px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 15px;
}


::placeholder {
    color: #888;
}

input:focus {
    outline: none;
    border-color: #1a3a6b;
}

button {
    background-color: #1a3a6b;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #1e3b8a88;
}

/* audio {
    display: none;
} */

.resultado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.player {
  background-color: #1a1a1c;
  border-radius: 20px;
  padding: 30px;
  width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#capa {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.player-info p {
  color: #e8e4dc;
  text-align: center;
  margin-bottom: 20px;
}

.player button {
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}