
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a0c;
    color: #e8e4dc;
    font-family: sans-serif;
}

.titulo {
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 40px;

}

h1 {
    font-size: 100px;
    color: white;
    margin-bottom: 4px;
}

p {
    font-size: 20px;
    color: gray;
    margin-bottom: 6px;
}

input {
    border: 2px solid gray;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    background: #1a1a1c;
    color: #e8e4dc;
}

::placeholder {
    color: #888;
}

input:focus {
    outline: none;
    border-color: #ffffff;
}

button {
    background-color: #534ab7;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #999999;
}