<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vibefy</title>
</head>
<body>
  <div class="titulo">
    <h1>Vibefy</h1>
    <p>Descreva seu momento. A IA encontra a trilha perfeita.</p>
    <input type="text" id="humor" placeholder="Como você se sente?">
    <input type="text" id="t1" placeholder="Música 1">
    <input type="text" id="t2" placeholder="Música 2">
    <input type="text" id="t3" placeholder="Música 3">
    <button id="btn-buscar" onclick="buscar()">Buscar</button>
  </div>

  <div class="resultado" id="resultado">
    <img src="" alt="" id="capa">
    <p id="nome"></p>
    <audio src="" id="audio" controls></audio>
  </div>

  <script>
    function buscar() {
      let humor = document.getElementById('humor').value

      let musica1 = document.getElementById('t1').value
      let musica2 = document.getElementById('t2').value
      let musica3 = document.getElementById('t3').value

      let gostos = [musica1, musica2, musica3].filter(m => m !== '')

      fetch('/buscar', {
        method:'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({humor: humor, gostos: gostos})
      })
      .then(res => res.json())
      .then(data => { 
          document.getElementById('capa').src = data.capa
          document.getElementById('nome').textContent = data.nome
          document.getElementById('audio').src = data.preview
    })
    }

  </script>
</body>
</html>